#anger {
  color: red;
}

#disgust {
  color: green;
}

#fear {
  color: purple;
}

#joy {
  color: orange;
}

#sadness {
  color: blue;
}

div {
  width: 250px;
  height: 30px;
  border: thin dashed black;
  line-height: 26px;
  padding: 5px;
}

.dataButton {
	text-decoration: none
}
.dataButton:hover {
	text-decoration: underline
}
